@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*
{
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
.calculator
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;
    padding: 16px;
    background-color: rgb(2, 2, 27);
    height: 500px;
    width: 375px;
    align-self: center;
    justify-self: center;
    border-radius: 5%;
}
.screen
{
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    background-color: bisque;
}
.span-2
{
    grid-column: span 2;
}
.button
{
    background-color: grey;
    border-radius: 50%;
    width: 5.2em;
    height: 5.2em;
    margin: auto;
}
.main
{
    display: grid;
}

.header, .footer{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: xx-large;
    height: 10vh;
    flex-wrap: wrap;
}